__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.git
.gitignore
.gitattributes
.vscode/
.idea/
docs/
tests/
*.egg-info/
.eggs/
build/
dist/
.eggs/
.pytest_cache/
Dockerfile*
docker-compose*
nginx.conf
.trigger_redeploy
